body {
    font-family: 'Poppins', sans-serif;
    background-color:#C7C79E; 
    scroll-behavior: smooth;
}

.hero {
    min-height: 100vh;
    background-color: #F1F5E2;
    color: white;
    padding-top: 120px;
}

section {
    padding-top: 80px;
}

.custom-navbar {
    background-color: #CC8899;
}

.custom-navbar .nav-link,
.custom-navbar .navbar-brand {
    color: white;
}

.custom-navbar .nav-link:hover {
    color: black;
}

.btn-primary {
    background-color: #CC8899;
    border-color: white;
    padding: 10px 25px;
    border-radius: 30px;
}

.btn-primary:hover {
    background-color: #b76e7f;
    border-color: #b76e7f;
}

.card {
    border: none;
    border-radius: 15px;
}

.card-title {
    color: #CC8899;
}

.hero-card {
    max-width: 500px;
    border-radius: 20px;
    border: none;
}

.hero-card .card-body {
    padding: 40px 20px;
}

.hero-img {
    width: 100%;
    height: 350px;
    object-fit: cover;
    object-position: center;
}

#about .col-md-6 {
    padding: 25px;
}

#about p {
    text-align: justify;
    line-height: 1.8;
}

#about h4 {
    margin-bottom: 20px;
}

#about .progress {
    margin-bottom: 20px;
}

#about ul {
    margin-top: 15px;
    padding-left: 20px;
}

#about ul li {
    margin-bottom: 10px;
}

#about {
    color: black;
}

#about h2,
#about h4,
#about p,
#about label,
#about ul,
#about li {
    color: black;
}